.header {
  margin-bottom: 1rem;
  transition: all 150ms ease-in-out;
}

.backButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.6rem var(--ifm-menu-link-padding-horizontal);
  border: 0;
  color: var(--ifm-menu-color);
  background: transparent;
  font: inherit;
  font-weight: var(--ifm-font-weight-semibold);
  text-align: center;
  cursor: pointer;
  line-height: 1;
  transition: all 150ms ease-in-out;
}

.backArrow {
  position: absolute;
  left: 0;
  transition: all 150ms ease-in-out;
  background: var(--ifm-menu-link-sublist-icon) center;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  background-size: 100% 100%;
  transform-origin: center;
  transform: rotate(-90deg);
  width: 1.25rem;
  height: 1.25rem;
  left: 0.25rem;
}

.backButton:hover,
.backButton:focus-visible {
  color: var(--ifm-menu-color-active);
}

@media (prefers-reduced-motion: reduce) {
  .backArrow {
    transition: none;
  }
}
